// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li { background-color: white; list-style: none; border-top: 1px solid #A3A3A3; padding: 20px}
li:first-child {border-top: 0; border-radius: 5px}