// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro { float: left; }
#search{ height: 200px; width: 300px; background-color: #333; color: #fff; float: left;}
#splash{ margin-top: 30px;}
.slider-wrapper{ float: right;}